/* Header styles for TravelX */
.navbar {
	color: #ffffff4e;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #9dffa0;
	border: none;
	border-radius: 0 0 2rem 2rem;
}
.header-logo {
	width: 44px;
	height: 44px;
	border-radius: 8px;
	object-fit: cover;
}
.brand-text {
	font-weight: 700;
	color: #002f02;
	font-size: 2rem;
}
.navbar .nav-link {
	gap: 20rem;
	font-weight: 300;
	font-size: 1.5rem;
	color: #00951e;
}
.navbar .nav-link.active {
	color: #00b106;
}
.cart-icon{
	height: auto;
	width: 3rem;
}

@media (max-width: 576px) {
	.brand-text { font-size: 1rem; }
}
