/* Header styles for PrimRose */

.navbar {
	color: #ffffff4e;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: #ffffff1d;
	backdrop-filter: blur(5px);
	border: none;
	padding: 0rem 0;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.sign{
	background: linear-gradient(135deg, #22c55e 0%, #04ff00 100%);
	color:white;
	
}

.navbar.scrolled {
	background-color: #ffffff;   /* solid white */
	backdrop-filter: blur(6px);  /* optional glass effect */
}

.header-logo {
	width: 44px;
	height: 44px;
	border-radius: 8px;
	object-fit: cover;
}
.brand-text {
	font-weight: 700;
	color: #00ff1a;
	font-size: 2.5rem;
	font-family: Imperial Script;
}
.navbar .nav-link {
	gap: 20rem;
	font-weight: bold;
	font-size: 1.5rem;
	color: #3dff02;
	
}
.navbar .nav-link.active {
	color: #036e01;
}
.cart-icon{
	height: auto;
	width: 3rem;
}
.d-none{
	visibility: hidden;
}
@media (max-width: 576px) {
	.brand-text { font-size: 1rem; }
}
