/* Header styles for PrimRose */
.navbar {
	color: #ffffff4e;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: #ffffff1d;
	backdrop-filter: blur(5px);
	border: none;
	padding: 0rem 0;
	transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.sign{
	background: linear-gradient(135deg, #22c55e 0%, #15803d 100%);
	color:white;
	
}

.navbar.scrolled {
	background-color: #ffffff;   /* solid white */
	backdrop-filter: blur(6px);  /* optional glass effect */
}

.header-logo {
	width: 44px;
	height: 44px;
	border-radius: 8px;
	object-fit: cover;
}
.brand-text {
	font-weight: 700;
	color: #002f02;
	font-size: 2rem;
}
.navbar .nav-link {
	gap: 20rem;
	font-weight: 300;
	font-size: 1.5rem;
	color: #00951e;
}
.navbar .nav-link.active {
	color: #00b106;
}
.cart-icon{
	height: auto;
	width: 3rem;
}
.d-none{
	visibility: hidden;
}
@media (max-width: 576px) {
	.brand-text { font-size: 1rem; }
}
